/**
  * 页面样式
  * 每个页面对应
  */
@import '_variable.less';
@import '_mixin.less';

body {
	.navbar {
		.navbar-header {
			background: url(../images/logo.png) no-repeat center left !important;
		}
	}
}

#index {
	.sysTitle {
		text-align: center;
		color: #fff;
		font-weight: 100;
		padding: 5px;
	}
	font-family: '微软雅黑';
	overflow: hidden;
	padding-bottom: 180px;
	.form-group {
		margin: 10px 0 !important;
	}
	#indexCarousel {
		width: 100%;
		height: 100%;
		.carousel-inner {
			width: 100%;
			height: 100%;
			.item {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.loginBox {
		z-index: 9999;
		width: 400px;
		.absolute(20%, 0, auto, 0);
		@media (max-height: 768px) {
			.absolute(15%, 0, auto, 0);
		}
		form {
			padding: 30px 50px 30px 50px;
			border: 1px solid #ccc;
			border-top: 5px solid #1db6e2;
			border-radius: 5px;
			background: #fff;
			input {
				background-color: #edf2f4;
			}
		}
		.btn-login {
			font-size: 18px;
			font-weight: bold;
			width: 100%;
			padding: 10px;
		}
	}
	footer {
		width: 1024px;
		height: 180px;
		padding: 15px;
		color: #999;
		.contact {
			font-size: 12px;
			// padding-left: 320px;
			text-align: center;
			// background: url(../images/page.png) no-repeat 15px -5px;
			.prod-link {
				margin-bottom: 5px;
				a {
					margin-left: 5px;
				}
			}
		}
		.info-block {
			padding-top: 10px;
			padding-left: 100px;
			background: url(../images/page.png) no-repeat left;
			background-position: 0 -65px;
			.title {
				font-size: 18px;
				color: #80d6ef;
			}
		}
	}
}

#subject-manage-index {
	.page-content {
		.absolute(42px, 0, 0, 0);
		.center-block {
			width: 650px;
			height: 100%;
		}
		.waitSelectIndex,
		.selectedIndex {
			float: left;
			width: 280px;
			height: 100%;
			padding: 10px;
			padding-top: 40px;
			h4 {
				.absolute(0, auto, auto, auto);
			}
		}
		.oper-area {
			float: left;
			padding-top: 85px;
		}
	}
	.logDetail {
		.modal-body {
			height: 20%;
			overflow-y: scroll;
			overflow-x: hidden;
		}
	}
	#indexModify {
		.center-block {
			width: 300px;
			height: 400px;
			padding-top: 10px;
			#modifyIndexTree {
				margin-left: 100px;
				margin-top: 5px;
				position: fixed;
				height: 20px;
				padding-top: 0px;
				right: 155px;
			}
		}
		.tree-content {
			.btn-append {
				padding: 0 2px 0 2px;
				color: #fff;
				background-color: #337ab7;
				border-color: #2e6da4;
				margin-top: -5px;
				font-size: 5px;
				margin-left: 5px;
				font-family: 'Glyphicons Halflings' !important;
				i {
					font-family: 'Glyphicons Halflings' !important;
				}
			}
		}
	}
}

#patent-detail-index {
	overflow: hidden;
	padding-top: 0;
	.wrap {
		padding-top: 90px;
		.nav {
			border-bottom: none;
			li {
				&.active {
					a {
						border: none;
					}
				}
				a {
					height: auto;
				}
			}
		}
	}
	.panel {
		height: 90px;
		border: none;
		border-radius: 0;
		.absolute(0, 0, auto, 0);
		.panel-heading {
			font-size: 18px;
			font-weight: bold;
			line-height: 50px;
			height: 50px;
			padding: 0 10px;
			color: #fff;
			border-radius: 0;
			background-color: #1db6e2;
			.btn {
				font-size: 18px;
				color: #fff;
				border: transparent;
				outline: none !important;
				background-color: transparent;
				box-shadow: none !important;
			}
		}
		.panel-body {
			height: 40px;
			padding: 0 10px;
			color: #079dc8;
			background-color: #f3f8f9;
			#patentList {
				li {
					padding: 5px;
					a {
						font-weight: bold;
						padding: 5px;
						&:hover {
							background-color: lighten(#1db6e2, 45%);
						}
					}
					&.active {
						a {
							background-color: #1db6e2;
						}
					}
				}
			}
		}
	}
	.patent-content {
		position: relative;
		overflow: hidden;
		height: 100%;
		border-top: 1px solid #d7dfe5;
		.panel-left {
			overflow: hidden;
			border-right: 1px solid #d7dfe5;
			.absolute(0, 50%, 0, 0);
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.patent-items {
				position: relative;
				overflow-x: hidden;
				overflow-y: auto;
				height: 100%;
				padding: 5px 5px 5px 15px;
				p {
					font-size: 16px;
					font-weight: bold;
					color: #333;
				}
				.patent-item {
					padding-left: 15px;
					p {
						font-size: 12px;
						color: #666;
						.title {
							font-weight: bold;
						}
						.content {
							font-weight: normal;
						}
						i {
							font-style: normal;
							color: #f06;
						}
					}
				}
			}
		}
		.panel-right {
			.absolute(0, 0, 0, 50%);
			.patent-pics {
				height: 100%;
				padding: 0;
				.empty-text {
					display: none;
					margin-top: 45%;
					text-align: center;
					color: #999;
				}
				&.empty {
					.content {
						display: none;
					}
					.thumbnail {
						display: none;
					}
					.empty-text {
						display: block;
					}
				}
				.content {
					.absolute(0, 0, 150px, 0);
					.content-title {
						font-size: 16px;
						line-height: 50px;
						height: 50px;
						padding: 0 20px;
						border-right: 1px solid #d7dfe5;
						border-bottom: 1px solid #d7dfe5;
						background-color: #fff9ea;
						.absolute(0, 0, auto, 0);
						.btn {
							font-size: 20px;
							color: #8b8a87;
							border: transparent;
							outline: none !important;
							background-color: transparent;
							box-shadow: none !important;
							&:hover {
								color: darken(#8b8a87, 10%);
							}
						}
					}
					.content-body {
						overflow: auto;
						.absolute(50px, 0, 0, 0);
						img {
							width: 100%;
							&:hover {
								cursor: pointer;
							}
							&:active {
								cursor: move;
							}
						}
					}
					&.loading {
						.content-body {
							background: url(../images/loading-m.gif) no-repeat center;
							img {
								display: none;
							}
						}
					}
				}
				.thumbnail {
					height: 150px;
					margin: 0;
					padding: 0;
					border: none;
					border-top: 1px solid #d7dfe5;
					border-radius: 0;
					.absolute(auto, 0, 0, 0);
					&.loading {
						background: url(../images/loading-m.gif) no-repeat center;
						.btn-prev {
							display: none;
						}
						.btn-next {
							display: none;
						}
						.jcarousel {
							display: none;
						}
					}
					.btn {
						font-size: 25px;
						color: #9fe0f3;
						border: transparent;
						outline: none !important;
						background-color: transparent;
						box-shadow: none !important;
						&.btn-prev {
							z-index: 9999;
							.absolute(50px, auto, auto, 20px);
						}
						&.btn-next {
							z-index: 9999;
							.absolute(50px, 20px, auto, auto);
						}
						&:hover {
							color: darken(#9fe0f3, 10%);
						}
					}
					.jcarousel {
						margin: 0 auto;
						li {
							position: relative;
							span {
								font-size: 14px;
								line-height: 14px;
								display: inline-block;
								width: 20px;
								height: 16px;
								text-align: center;
								color: #333;
								background-color: #e8f8fc;
								.absolute(4px, auto, auto, 4px);
							}
							img {
								margin: 3px;
								cursor: pointer;
								border: 1px solid #ccc;
								&:hover {
									border: 1px solid #999;
								}
							}
							&.selected {
								span {
									font-weight: bold;
									color: #fff;
									background-color: #60cceb;
								}
								img {
									&:hover {
										cursor: default;
										border: 1px solid #ccc;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

#index-manage-index {
	.ztree {
		span.button.level_ico_docu {
			margin-right: 2px;
			background: url(../js/lib/zTree_v3/css/zTreeStyle/img/zTreeStandard.png) no-repeat scroll 0 0 transparent;
			vertical-align: top;
			background-position: -110 -16;
			*vertical-align: middle;
		}
	}
}

#index-do-index {
	.center-block {
		padding: 0 0 0 15px;
		.dealDetail {
			padding: 5px;
			border-left: 2px solid #000;
			.recordRow {
				margin: 5px;
				.glyphicon-record {
					margin-left: -22px;
					float: left;
					font-size: 22px;
				}
				.glyphicon-triangle-left {
					float: left;
					font-size: 20px;
				}
				.spanDetail {
					border: 1px solid;
					display: inline-block;
					width: 95%;
					margin-left: 0;
					padding: 4px;
					i {
						font-style: normal;
						color: #f06;
					}
				}
			}
		}
	}
}

#index-audit-index {
	.center-block {
		padding: 0 0 0 15px;
		.dealDetail {
			padding: 5px;
			border-left: 2px solid #000;
			.recordRow {
				margin: 5px;
				.glyphicon-record {
					margin-left: -22px;
					float: left;
					font-size: 22px;
				}
				.glyphicon-triangle-left {
					float: left;
					font-size: 20px;
				}
				.spanDetail {
					border: 1px solid;
					display: inline-block;
					width: 95%;
					margin-left: 0;
					padding: 4px;
					i {
						font-style: normal;
						color: #f06;
					}
				}
			}
		}
	}
}

#index-do-patent {
	overflow: hidden;
	padding-top: 0;
	.wrap {
		.content {
			top: 0;
		}
		.side {
			border: none;
			border-left: 1px solid #d7dfe5;
			background-color: #f5f5f5;
			header {
				border: none;
				background-color: inherit;
			}
			.tree-content {
				bottom: 200px;
				border-top: 1px solid #d7dfe5;
				border-bottom: 1px solid #d7dfe5;
			}
			.index-feedback {
				height: 200px;
				padding: 10px;
				.absolute(auto, 0, 0, 0);
			}
		}
	}
}

#index-assign-index {
	.modal-content {
		width: 900px;
		.modal-body {
			height: 400px;
			min-height: 400px;
		}
	}
}

#index-audit-patent {
	overflow: hidden;
	padding-top: 0;
	.wrap {
		.content {
			top: 0;
		}
		.side {
			border: none;
			border-left: 1px solid #d7dfe5;
			background-color: #f5f5f5;
			header {
				border: none;
				background-color: inherit;
			}
			.tree-content {
				bottom: 400px;
				border-top: 1px solid #d7dfe5;
				border-bottom: 1px solid #d7dfe5;
			}
			.index-feedback {
				height: 400px;
				padding: 10px;
				.absolute(auto, 0, 0, 0);
				form {
					.form-group {
						.radio.r2 {
							display: inline;
						}
					}
				}
			}
		}
	}
}

#subject-merge-company {
	.wrap {
		.content {
			overflow: hidden;
			.page-content {
				.absolute(42px, 0, 0, 0);
				.container {
					width: auto;
					padding: 22% 150px 0 150px;
					.absolute(auto, auto, auto, 261px);
					#conbinForm {
						.form-control,
						.btn {
							font-size: 18px;
							height: 50px;
						}
					}
				}
			}
		}
	}
}

#subject-merge-area {
	.wrap {
		.content {
			overflow: hidden;
			.page-content {
				.absolute(42px, 0, 0, 0);
				.container {
					width: auto;
					padding: 22% 150px 0 150px;
					.absolute(auto, auto, auto, 261px);
					#conbinForm {
						.form-control,
						.btn {
							font-size: 18px;
							height: 50px;
						}
					}
				}
			}
		}
	}
}

#search-simple-index {
	.center-block {
		width: 1024px;
		padding-top: 12%;
		.title {
			font-size: 40px;
			margin-bottom: 20px;
			color: #989898;
		}
		.search-content {
			padding: 20px 50px;
			border-radius: 5px;
			background-color: #f5f5f5;
		}
	}
	.btn-search {
		width: 70px;
	}
}

#search-advanced-index {
	.center-block {
		width: 1024px;
		padding: 20px 0;
		.title {
			font-size: 40px;
			margin-bottom: 20px;
			color: #989898;
		}
		.search-content {
			padding: 30px 60px;
			border-radius: 5px;
			background-color: #f5f5f5;
			.generate-exp {
				.line {
					margin-top: 25px;
					border-top: 1px solid #ccc;
				}
				.btn-generate {
					margin-top: -25px;
					border-radius: 50%;
					width: 40px;
					height: 40px;
				}
			}
			.more-cond {
				&.loading {
					min-height: 50px;
					background: url(../images/loading-m.gif) no-repeat center;
				}
				.control-label {
					padding-top: 7px;
				}
				& > div {
					margin-bottom: 5px;
				}
				& > label {
					margin-bottom: 5px;
				}
			}
		}
	}
	.more-result-form {
		.modal-dialog {
			width: 800px;
			.modal-body {
				height: 400px;
				.nav {
					margin-bottom: 10px;
				}
				.list {
					padding: 10px;
					.absolute(50px, 0, 0, 0);
					.item-list,
					.index-list {
						height: 100%;
						form {
							height: 100%;
							& > div {
								height: 100%;
								& > div {
									height: 100%;
								}
							}
							.panel {
								position: relative;
								.panel-body {
									overflow: auto;
									.absolute(40px, 0, 0, 0);
								}
							}
						}
					}
					.index-list {
						width: 260px;
					}
				}
			}
		}
	}
}

#search-nav-index {
	.default-grid .table-content {
		overflow-y: visible;
	}
	.resultContent {
		td {
			vertical-align: middle;
		}
	}
	.high_light_word {
		color: #ff5d5b;
	}
	.wrap {
		.content {
			.main-content {
				right: 221px;
			}
		}
	}
	.modal-dialog {
		.wrap {
			.content {
				.main-content {
					right: 0;
				}
			}
		}
	}
	.again-search-area {
		z-index: 1001;
		width: 400px;
		max-height: 300px;
		.input-area {
			overflow: auto;
			max-height: 200px;
		}
	}
	.btn-search {
		width: 70px;
	}
	.more-result-form {
		.modal-dialog {
			width: 800px;
			.modal-body {
				height: 400px;
				.nav {
					margin-bottom: 10px;
				}
				.list {
					padding: 10px;
					.absolute(50px, 0, 0, 0);
					.item-list,
					.index-list {
						height: 100%;
						form {
							height: 100%;
							& > div {
								height: 100%;
								& > div {
									height: 100%;
								}
							}
							.panel {
								position: relative;
								.panel-body {
									overflow: auto;
									.absolute(40px, 0, 0, 0);
								}
							}
						}
					}
					.index-list {
						width: 260px;
					}
				}
			}
		}
	}
	#menuContent {
		z-index: 9999;
		left: 20px;
		overflow: auto;
		height: 200px;
		border: 1px solid darken(#f5f5f5, 10%);
		background-color: #f5f5f5;
	}
	.left-second-search,
	#menuContent {
		width: 160px;
	}
	// 图片详情
	#imgDetail {
		.modal-body {
			text-align: center;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		
	}
	
}

#personal-info-index {
	.formDiv {
		width: 80%;
		margin: 2% 0 !important;
	}
}

#home-container {
  margin: 0;
  padding-top: 1px;
  h1 {
    margin: 0 !important;
  }
}
